*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  /* 1rem = 10px */ }

body {
  font-family: "Lato", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #848789; }

img {
  max-width: 100%; }

button {
  cursor: pointer; }

input,
textarea,
button {
  outline: none;
  box-shadow: none;
  font-family: "Lato", sans-serif; }

.heading-secondary {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.8rem;
  color: #353738;
  font-weight: bold;
  word-spacing: 8px;
  letter-spacing: 200; }

.heading {
  font-size: 1.3rem;
  text-transform: uppercase;
  height: 80rem;
  background-image: url("../image/heading.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }
  .heading ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 3rem; }
    .heading ul li {
      padding: 0px 40px;
      position: relative; }
      .heading ul li a {
        text-decoration: none;
        color: #4d4959;
        font-weight: bold; }
      .heading ul li:first-child::after, .heading ul li:nth-child(4)::after {
        content: '.';
        display: block;
        position: absolute;
        font-size: 2rem;
        right: 0px;
        bottom: 0px; }

.about {
  background-color: #f7f7f7;
  text-align: center;
  height: 470px; }
  .about img {
    display: inline-block;
    margin-top: 110px;
    margin-bottom: 25px; }
  .about p {
    font-size: 1.8rem;
    line-height: 3.4rem;
    width: 80%;
    margin: auto;
    margin-top: 15px; }

.feature {
  display: flex;
  flex-wrap: wrap; }
  .feature .pic-primary {
    height: 600px;
    max-width: 66.66667%; }
    .feature .pic-primary img {
      width: 100%;
      height: 600px; }
  .feature .content, .feature .pic-secondary {
    max-width: 33.33333%;
    text-align: center;
    height: 600px; }
  .feature .pic-secondary img {
    height: 100%;
    width: auto; }
  .feature .content {
    position: relative;
    padding-top: 55px; }
    .feature .content p {
      position: relative;
      margin: auto;
      margin-top: 20px;
      line-height: 30px;
      font-size: 1.6rem;
      padding: 0 35px;
      text-align: justify; }
      .feature .content p::after {
        content: '';
        display: block;
        width: 50px;
        border: 0.5px solid #d7d7d7;
        position: absolute;
        bottom: -25px;
        left: 50%;
        margin-left: -25px; }
    .feature .content h2 {
      margin-top: 25px; }
    .feature .content img:not(:first-child) {
      display: block;
      max-width: 100%;
      position: absolute;
      bottom: 0px;
      height: 200px; }
    .feature .content::after {
      position: absolute;
      content: '';
      display: inline-block;
      border-style: solid;
      border-width: 10px;
      border-color: white transparent transparent transparent;
      bottom: 180px;
      z-index: 2;
      text-align: center;
      margin-left: -10px; }

.tweet {
  height: 470px;
  padding-top: 120px;
  background-color: #f7f7f7;
  text-align: center; }
  .tweet i {
    color: #56c7ee;
    font-size: 3.6rem; }
  .tweet h3 {
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 1.8rem;
    color: #353738; }
    .tweet h3 span {
      color: #848789;
      margin-left: 10px; }
      .tweet h3 span::before {
        content: '/';
        display: inline-block;
        margin-right: 10px; }
  .tweet p {
    font-size: 2rem;
    line-height: 34px; }
  .tweet ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin-top: 100px; }
    .tweet ul li {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      border: 1px solid;
      margin: 0px 5px; }
    .tweet ul .active {
      background-color: #a9afb3; }

.shop {
  height: 735px;
  background-color: #282f35; }
  .shop .images {
    display: flex;
    flex-wrap: wrap; }
    .shop .images__block {
      width: 33.33333%;
      display: flex;
      flex-wrap: wrap; }
      .shop .images__block:first-child .images__item:not(:last-child) {
        width: 50%; }
      .shop .images__block:nth-child(2) .images__item {
        width: 50%; }
      .shop .images__block:last-child .images__item:not(:first-child) {
        width: 50%; }
    .shop .images__item {
      position: relative;
      width: 100%; }
      .shop .images__item-brand {
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        z-index: 3;
        text-align: center;
        opacity: 0;
        transition: all 0.5s;
        background-color: rgba(100, 194, 158, 0.8); }
        .shop .images__item-brand div {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          color: white;
          font-size: 1.3rem;
          text-transform: uppercase; }
          .shop .images__item-brand div img {
            max-width: 80px;
            margin-bottom: 10px; }
      .shop .images__item > img {
        height: 100%; }
    .shop .images__item:hover .images__item-brand {
      opacity: 1; }
  .shop .btn {
    text-align: center;
    font-size: 1.4rem; }
    .shop .btn a {
      display: inline-block;
      width: 300px;
      height: 50px;
      color: white;
      line-height: 50px;
      text-decoration: none;
      border: 1px solid #848789;
      margin-top: 70px; }

.mailing {
  text-align: center;
  height: 470px;
  font-size: 2rem;
  padding-top: 100px; }
  .mailing p {
    margin-top: 40px;
    margin-bottom: 35px; }
  .mailing form input {
    height: 60px;
    width: 400px;
    outline: none;
    padding: 15px 20px;
    font-size: 20px; }
  .mailing form button {
    height: 60px;
    width: 120px;
    text-align: center;
    line-height: 60px;
    color: white;
    background-color: #64c29e;
    border: none;
    outline: none;
    font-size: 2rem;
    text-transform: uppercase; }

footer {
  padding: 0px 200px;
  display: flex;
  justify-content: space-between;
  background-color: #f7f7f7;
  height: 150px;
  align-items: center;
  font-size: 1.4rem; }
  footer .add p:first-child {
    color: #848789;
    font-size: 1.6rem; }
  footer .icon i {
    display: inline-block;
    height: 35px;
    width: 35px;
    line-height: 35px;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    font-size: 1.6rem;
    margin: 10px; }
  footer .fa-twitter {
    background-color: #78cdf0; }
  footer .fa-facebook-f {
    background-color: #537bbd; }
  footer .fa-pinterest-p {
    background-color: #eb5755; }
  footer .brand img {
    width: 50px;
    vertical-align: middle;
    margin-left: 5px; }

/*# sourceMappingURL=style.css.map */
